# Use this file to configure your mysql connection

#if using mysql over ssh uncomment, and fill in user and password
#not yet implemented
#ssh username
#user = 

#ssh password
#pass =

# hostname address default is 127.0.0.1
Hostname = 127.0.0.1

# username to login to mysql database
Username = root

# password for user's account
# note: this is not stored securely.
Password = 

# Define database to connect to
DB = test

# Define which table to use
Table = inventory

# if using a mysql funtion to handle all input
# !OPTIONAL, but Recommended! define mysql function name here
#MysqlFunctionName = sub_one
